body{
    text-align:center;
    background-color: yellow;
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/004/930/823/small/speech-bubble-outline-icon-on-blue-background-seamless-pattern-background-for-print-wallpaper-decoration-illustration-free-vector.jpg") ;
    background-color: rgba(0, 255, 255, 0.726);
}